<div class="container" style="margin-top: 5rem">
    <a href="#" onclick="window.history.back();" class="text-decoration-none text-muted" style="font-size: 16px">&larr;
        Hỏi bài</a>
    <div id="resultMessage"></div>
    <!-- Question Card -->
    <div class="row mt-3" style="gap:20px">
        {{#discussions}}
            <div class="card p-4 col-md-5" style="display: flex;justify-content:space-between ">
                <div>
                    <h5 style="display: flex; gap:8px;">
                        <div>
                            <img src="pix/avatar.svg" alt="avatar">
                        </div>
                        <div style="display: flex; flex-direction: column">
                            <strong>{{fullname}}</strong> <small class="text-muted">{{createdat}}</small>
                        </div>
                    </h5>
                    <p>{{content}}</p>
                    <div class="border rounded p-3 bg-light">
                        <p><strong>{{questionname}}</strong></p>
                        {{#quizid}}
                            <a href="{{urlquiz}}"
                               style="text-decoration: underline; color:#8E8E8E; font-size: 12px">{{quizname}}</a>
                        {{/quizid}}
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center" class="mt-2">
                    {{#isanswer}}
                        <span style="color:#29BA85"><i class="fa fa-check-circle"></i> Đã trả lời</span>
                    {{/isanswer}}
                    {{^isanswer}}
                        <span style="color:#FAB80F"><i class="fa fa-clock-o"></i> Đang chờ trả lời</span>
                    {{/isanswer}}
                    <div>
                        <button type="button" class="btn btn-outline-primary-custom"
                                style="color: #29BA85; border-color: #29BA85"
                                onclick="window.location.href='{{urlaskquestion}}'">Xem chi tiết
                        </button>
                        {{#cananswer}}
                            <button type="button" class="btn btn-primary open-modal"
                                    data-questionurl="{{urlaskquestion}}"
                                    data-questionname="{{questionname}}"
                                    data-quizname="{{quizname}}"
                                    data-id="{{id}}"
                                    data-url="{{urlconfig}}"
                                    data-toggle="modal" data-target="#myModal"
                                    style="color: #29BA85; border-color: #29BA85">Trả lời
                            </button>
                        {{/cananswer}}
                    </div>
                </div>
            </div>
        {{/discussions}}
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Trả lời</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="answerquestion" method="post">
                    <div class="card-body">
                        <div class="mb-3">
                        <textarea class="form-control" placeholder="Nhập nội dung câu trả lời" rows="4" id="content"
                                  required></textarea>
                        </div>
                        <input id="id" hidden/>
                        <div>
                            <h6>Chủ đề:</h6>
                            <div class="card p-3" style="background-color: #F4F6F4; border: 1px solid #DFDFDF">
                                <p id="questionname" class="bold" style="text-decoration: underline; color:#4D4D4D"></p>
                                <p id="questioncontent"></p>
                                <a href="#" style="color: #8E8E8E" onclick=""
                                   id="questiondetail">Xem chi tiết
                                    <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer" style="display: flex;justify-content: flex-end; gap:8px">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Bỏ qua</button>
                        <button type="submit" class="btn btn-primary">Gửi câu trả lời</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".open-modal").forEach(button => {
        button.addEventListener("click", function () {
            let url = this.getAttribute("data-questionurl"); // Lấy data-id từ button
            let name = this.getAttribute("data-questionname"); // Lấy data-id từ button
            let quizname = this.getAttribute("data-quizname"); // Lấy data-id từ button
            let urlconfig = this.getAttribute("data-url"); // Lấy data-id từ button
            let id = this.getAttribute("data-id"); // Lấy data-id từ button
            document.getElementById("questionname").innerText = quizname; // Hiển thị ID
            document.getElementById("questioncontent").innerText = name; // Hiển thị ID
            document.getElementById("questiondetail").setAttribute("href", url); // Hiển thị ID
            document.getElementById("id").value = id; // Hiển thị ID
            document.getElementById("answerquestion").setAttribute("data-url", urlconfig); // Hiển thị ID
        });
    });
</script>