<div class="container mt-4">
    <a href="#" class="text-decoration-none text-muted">&larr; Hỏi bài</a>

    <!-- Question Card -->
    <div style="display: flex; gap:10px;flex-wrap: wrap">
        {{#discussions}}
            <div class="card mt-3 p-4" style="flex: 1 1 calc(50% - 8px); ">
                <h5 style="display: flex; gap:8px;">
                    <div>
                        <img src="pix/avatar.svg" alt="avatar">
                    </div>
                    <div style="display: flex; flex-direction: column">
                        <strong>{{fullname}}</strong> <small class="text-muted">{{createdat}}</small>
                    </div>
                </h5>
                <p>{{content}}</p>
                <div class="border rounded p-3 bg-light">
                    <p><strong>{{questionname}}</strong></p>
                    {{#quizid}}
                        <a href="{{urlquiz}}"
                           style="text-decoration: underline; color:#8E8E8E; font-size: 12px">{{quizname}}</a>
                    {{/quizid}}
                </div>
                <div style="display: flex; justify-content: space-between" class="mt-2">
                    {{#isanswer}}
                        <span style="color:#29BA85"><i class="fa fa-check-circle"></i> Đã trả lời</span>
                    {{/isanswer}}
                    {{^isanswer}}
                        <span style="color:#FAB80F"><i class="fa fa-clock-o"></i> Đang chờ trả lời</span>
                    {{/isanswer}}
                    <button type="button" class="btn btn-outline-primary-custom" style="color: #29BA85; border-color: #29BA85">Xem chi tiết</button>
                </div>
            </div>
        {{/discussions}}
    </div>

</div>